

<main>
  <div class="content">
    <div class="content_left">
      <h2>صوره المعاينه </h2>
      <form class="file">
        <label for="file">رفع الصوره </label>
        <input type="file" (change)="changePhoto($event)" style="display: none;" name="input" id="file">
      </form>

      <small *ngIf="file==undefined">
        برجاء رفع صوره
      </small>
      <div class="img" *ngIf="file">
        <img [src]="file" #img alt="photo">
        <button  (click)="down()">تنزيل الصوره </button>
      </div>
    </div>

    <div class="line"></div>


    <div class="content_right">
      <h2>أدوات التعديل</h2>
      <form>
        <div>
          <label for="">سطوع</label>
          <input (change)="onChange1($event)"  type="range" name="" min="0" max="200" value="100" >
        </div>
        <div>
          <label for="">تباين</label>
          <input  (change)="onChange2($event)" type="range" name="" min="0" max="200" value="100" >
        </div>

        <div>
          <label for="">تشبع</label>
          <input (change)="onChange3($event)" type="range" name="" min="0" max="200" value="100" >
        </div>

        <div>
          <label for="">تشويش</label>
          <input (change)="onChange4($event)" type="range" name="" min="0" max="100" value="0" >
        </div>

        <div>
          <label for="">تدرج اللون</label>
          <input (change)="onChange5($event)"  type="range" name="" min="0" max="100" value="0" >
        </div>

        <div>
          <label for="">تدرج رمادي</label>
          <input (change)="onChange6($event)"  type="range" name="" min="0" max="100" value="0" >
        </div>

        <div>
          <label for="">انعكاس الالوان</label>
          <input (change)="onChange7($event)"  type="range" name="" min="0" max="100" value="0">
        </div>
        <div>
          <label for="">تباعد الالوان</label>
          <input (change)="onChange8($event)"  type="range" name="" min="0" max="100" value="0" >
        </div>
      </form>
    </div>
  </div>

</main>




<div class="model" [ngClass]="{'show':showmodel}">
  <div class="model_content">

    <span (click)="hideModel()">⤫</span>
    <h2>برجاء تسميه الصوره</h2>
    <form #f="ngForm" (ngSubmit)="OnDownload(f)">
      <input type="text" name="names" ngModel #name="ngModel" required minlength="3">
      <ng-container *ngIf="(name.invalid && name.touched) || f.submitted">
        <small *ngIf="name.control.errors?.['required']">Input Is Required</small>
        <small *ngIf="name.errors?.['minlength']">يجب أن يكون الاسم أطول من 3 أحرف.</small>
      </ng-container>
      <button type="submit">تنزيل الصوره </button>
    </form>
  </div>

</div>
